/* @import url(font-awesome.min.css); */

	body {
		/* background: #312450; */
		background-image: url("Images/Background Dawn.png");
		background-repeat: no-repeat;
		background-position: 0% 0%;
		background-size: cover;

	}

	body>h1{
		font-size: 1.5em;
		font-style: normal;
		font-family: "Montserrat Medium"; 
		color: #fff;
		position: relative;
		left: 30px;
		top: 30px;
		-moz-text-size-adjust: auto;
	}

	footer {
		font-size: 1em;
		font-family: "calibri"; 
		font-style: italic;
		color: #fff;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 30px;
		padding: 1em;
		text-align: left;
	  }


