/* @import url(font-awesome.min.css); */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  /* background-color: #0B004C; */
  background-image: url("images/radial-background.png");
  background-size: cover;
  margin: 0px;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 1.5vw;
  font-family: "Montserrat";
  color: #ffffff;
  position: relative;
  left: 30px;
  top: 30px;
  -moz-text-size-adjust: auto;
}
#floatBck {
  background-image: url("images/DawnFloatReflectionPurple.png");
  background-color: #1A156A;
  background-size: cover;
  margin: 0px;
  height: 100%;
  overflow: hidden;
}
#lottie {
  /* background-color:#0B004C; */
  background-image: url("images/radial-background.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  /* overflow: hidden; */
  /* transform: translate3d(0,0,0); */
  text-align: center;
  justify-content: center;
  opacity: 1;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  padding-left: 1vw;
  padding-right: 1vw;
}
#footerBox {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 0vw;
  padding-left: 0vw;
  font-size: 1vw;
  font-family: "Montserrat";
  color: #fff;
}
#scrollDiv {
  height: 100%;
  overflow-y: scroll;
}
#mainTitle {
  font-size: 3vw;
  font-family: "Montserrat";
  color: #fff;
  padding-bottom: 0px;
  padding-top: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
}
#linkTitle {
  font-family: "Montserrat";
  color: #fff;
  text-align: center;
  text-decoration: none;

}
#topTitle {
  font-size: 2vw;
  font-family: "Montserrat";
  color: #fff;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 0;
}
#subTitle {
  font-size: 1.5vw;
  font-family: "Montserrat";
  color: #fff;
  text-align: center;
  padding-top: 0vh;
  padding-bottom: 0;
}
#bottomTitle {
  font-size: 1.3vw;
  font-family: "Montserrat";
  color: #8675D7;
  text-align: center;
  padding-top: 1vh;
}
#description {
  font-size: 1.25vw;
  font-family: "Montserrat";
  color: #fff;
  padding-left: 2vw;
}
#regularText {
  font-size: 1vw;
  font-family: "Montserrat";
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}
#secondaryTitle {
  font-size: 1.5vw;
  font-family: "Montserrat";
  color: #4dcfb1;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 0px;
}
#greenTitle {
  font-size: 2vw;
  font-family: "Montserrat";
  color: #4dcfb1;
  padding-bottom: 1vh;
}
#centeredTitle {
  font-size: 1.5vw;
  font-family: "Montserrat";
  color: #ffffff;
  padding-top: 2vh;
  padding-bottom: 3vh;
}
#tabText {
  font-size: 1vw;
  font-family: "Montserrat";
  color: #fff;
  padding-top: 1em;
  padding-left: 10em;
  padding-bottom: 0em;
  text-align: justify;
}
#iconText {
  font-size: 1vw;
  font-family: "Montserrat";
  color: #4dcfb1;
  text-decoration: none;
  padding-top: 0.5em;
}
#resizeImage {
  width: 80vw;
}
#resizeImageDesktop {
  width: 25vw;
  margin-right: 7vw;
}
#bckImage {
  width: 40vw;
  position: absolute;
  opacity: 0.1;
  left: 30%;
  margin-top: 7vh;
}
#greyText {
  font-size: 1.5vw;
  font-family: "Montserrat";
  color: #838a98;
  padding-top: 8vh;
  padding-left: 3vw;
}
#dayText {
  font-size: 2vw;
  font-family: "Montserrat";
  color: #4dcfb1;
  padding:0;
}
#dateText {
  font-size: 1.5vw;
  font-family: "Montserrat";
  color: #838a98;
  padding:0;
}
